<!DOCTYPE html>
<html>
<head>
    <title>Ary-Car Price Predictor</title>
    <link rel="stylesheet" href="style.css">

    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>

<body class="bg-dark">

<div class="container mt-5">

    <div class="card">
        <div class="card-header text-center">
            <h2>Car Price Predictor</h2>
        </div>

        <div class="card-body">

            <form id="carForm">

                <div class="form-group">
                    <label>Company</label>
                    <select class="form-control"
                            id="company"
                            name="company"
                            onchange="loadModels()">

                        {% for company in companies %}
                        <option value="{{ company }}">
                            {{ company }}
                        </option>
                        {% endfor %}

                    </select>
                </div>

                <div class="form-group">
                    <label>Model</label>
                    <select class="form-control"
                            id="car_models"
                            name="car_models">
                    </select>
                </div>

                <div class="form-group">
                    <label>Year</label>
                    <select class="form-control"
                            name="year">

                        {% for year in years %}
                        <option value="{{ year }}">
                            {{ year }}
                        </option>
                        {% endfor %}

                    </select>
                </div>

                <div class="form-group">
                    <label>Fuel Type</label>
                    <select class="form-control"
                            name="fuel_type">

                        {% for fuel in fuel_types %}
                        <option value="{{ fuel }}">
                            {{ fuel }}
                        </option>
                        {% endfor %}

                    </select>
                </div>

                <div class="form-group">
                    <label>Kilometers Driven</label>

                    <input type="number"
                           class="form-control"
                           name="kilo_driven"
                           required>
                </div>

                <button type="submit"
                        class="btn btn-primary btn-block">
                    Predict Price
                </button>

            </form>

            <h4 class="text-center mt-4"
                id="prediction">
            </h4>

        </div>
    </div>


</div>

<script>

const companyModels = JSON.parse(`{{ company_models | tojson | safe }}`);

function loadModels() {

    const company =
        document.getElementById("company").value;

    const modelDropdown =
        document.getElementById("car_models");

    modelDropdown.innerHTML = "";

    companyModels[company].forEach(model => {

        let option =
            document.createElement("option");

        option.value = model;
        option.text = model;

        modelDropdown.add(option);
    });
}

loadModels();

document
.getElementById("carForm")
.addEventListener("submit", async function(e){

    e.preventDefault();

    document.getElementById("prediction")
            .innerHTML = "Predicting...";

    const formData =
        new FormData(this);

    const response =
        await fetch("/predict",{
            method:"POST",
            body:formData
        });

    const result =
        await response.text();

    document.getElementById("prediction")
            .innerHTML =
            "Predicted Price: ₹ " + result;
});

</script>

</body>
</html>